{% extends "base.html.twig" %}


{% block titreH1 %}Confirmation de suppression utilisateur n°{{utilisateur.id}}{% endblock %}

{% block body %}
    <ul class="list-group">
        <li class="list-group-item">ID : {{utilisateur.id}}</li>
        <li class="list-group-item">Prenom : {{utilisateur.prenom}}</li>
        <li class="list-group-item">Nom : {{utilisateur.nom}}</li>
    </ul>

    <form action="" method="post">
        <button type="submit" class="btn btn-success">Confirmer la suppression</button>
        <a href="{{path("utilisateur")}}" class="btn b">Retour</a>
    </form>
{% endblock %}

{% block title %}Supprimer utilisateur{% endblock %}
